.br-4 {
  border-radius: 4px;
}
.card-action__flex {
  display: flex;
  justify-content: space-between;
}
.mt-20 {
  margin: 20px 0px 0px 0px;
}
.widget-element-hidden {
  display: none;
}
.widget-element-visible {
  display: block;
}
.widget-helper-unique-class {
  border-radius: 4px;
  margin: 20px 5px;
}
.widget-close-button,
.widget-delete-call-button {
  cursor: pointer;
}
