div.widget-paginator-unique-class.widget-element-hidden
  a.btn.btn-small.br-4.white.black-text.widget-paginator-unique-class__left-button.waves-effect.waves-black
    i.material-icons chevron_left
  span.widget-paginator-unique-class__current-page 1
  a.btn.btn-small.br-4.white.black-text.widget-paginator-unique-class__right-button.waves-effect.waves-black
    i.material-icons chevron_right