a.btn.btn-small.br-4.white.black-text.widget-open-list-calls-unique-class
  i.material-icons list
a.btn.btn-small.br-4.red.lighten-5.red-text.widget-close-list-calls-unique-class.widget-element-hidden Закрыть список звонков
a.btn.btn-small.br-4.teal.lighten-5.teal-text.widget-create-call-unique-class Создать звонок