a.btn.btn-small.br-4.white.black-text.widget-open-list-calls-unique-class.waves-effect.waves-black
  i.material-icons list
a.btn.btn-small.br-4.red.lighten-5.red-text.widget-close-list-calls-unique-class.widget-element-hidden.waves-effect.waves-red Закрыть список

include ../paginator/index.pug

a.btn.btn-small.br-4.teal.lighten-5.teal-text.widget-create-call-unique-class.waves-effect.waves-teal Создать звонок