doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Планировщик звонков /public/widget/

    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

  body.body 
    div.row
      div.col.s12
        //- Card
        div.card.br-4
          //- Subscriber
          include components/card/subscriber/index.pug
  
          div.card-content
            //- Title
            span.card-title.widget-title-unique-class
            //- Description
            p.widget-description-unique-class
            //- First screen
            include components/card/first-screen/index.pug
            //- Second screen
            include components/card/second-screen/index.pug
            //- Helper
            include components/card/helper/index.pug

          div.card-action.card-action__flex
            //- Button group
            include components/card/buttons-group/index.pug